@inherits LayoutComponentBase

<PageTitle>OpenBankClient</PageTitle>

<div class="page">
    <div class="@SideBarCssClass">
        <NavMenu OnHideMenu="@HideMenu"/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="container-fluid p-4 align-middle">
            @Body
        </article>
    </main>
</div>

@code{
    public bool hideMenu { get; set; } = false;

    private string? SideBarCssClass => hideMenu ? "smallSidebar" : "sidebar";


    public void HideMenu()
    {
        hideMenu = !hideMenu;
    }
}
