@using OpenBankClient.Data.Services
@using OpenBankClient.Data.Services.Interfaces
@inject IUsersService _usersService
@inject NavigationManager Navigation
@inject IStringLocalizer<RenewSession> Loc


<div class="b-2 @RenewSessionCssClass">
    <div class="alert alert-primary" role="alert">
        <span>@Loc["Message"]</span> <button class="btn btn-outline-dark btn-sm" @onclick="Renew">@Loc["Button"]</button>
    </div>
</div>

@code {
    [Parameter]
    public bool SessionExpired { get; set; }

    private string? RenewSessionCssClass => SessionExpired ? null : "visually-hidden";

    private async Task Renew()
    {
        try
        {
            await _usersService.RenewSessionAsync();
            SessionExpired = false;
            var uri = new Uri(Navigation.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
            var uriEscaped = Uri.EscapeDataString(uri);

            Navigation.NavigateTo(
                $"Authentication/Index?redirectUri={uriEscaped}",
                forceLoad: true);

        }
        catch(Exception ex)
        {
            
        }
    }
}
