@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using OpenBankClient.Data.Services
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager navigationManager
@inject UsersService usersService

<div class="row bg-white py-3 rounded-pill">
    <div class="col-5">
        <img src="/Images/abstract-user-flat-4.png"class="w-100" alt="..." >
    </div>
    <div class="col-7 d-flex justify-content-center">
        <div>
            <h5 class="card-title">@userLoggedIn</h5>
            <button class="btn btn-sm btn-primary" @onclick="Logout">LogOut</button>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public EventCallback btn_clicked { get; set; }
    private string userLoggedIn { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }
    public async Task Logout()
    {
        await usersService.LogoutAsync();
        await _localStorage.DeleteAsync("UserLoggedIn");
        await btn_clicked.InvokeAsync();
        navigationManager.NavigateTo("/");
    }
}
